VFQA_CSM_Common/Schema/VBO/CustomerParty/V1/CustomerPartyVBO.xsd

<!--Created with Liquid Studio 2017 - Data Designer Edition 15.1.13.7711 (https://www.liquid-technologies.com)--><!--© Vodafone Group Services Limited. All rights reserved. 
	This document comprises proprietary and confidential information 
	and copyright material belonging to Vodafone Group Services 
	Limited.Other than as permitted by law, no part of this document 
	may be reproduced, adapted, or distributed, in any form 
	or by any means, without the prior written consent of 
	Vodafone Group Services Limited.The information in this 
	document is subject to change without notice.All trademarks 
	acknowledged.Vodafone Group Services Limited - Confidential --><!-- ====================================================================== --><!-- ===== Vodafone VBO CustomerParty Schema Module ===== --><!-- ====================================================================== --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://group.vodafone.com/schema/vbo/customer/customer-party/v1" version="1.0" xmlns:cmn="http://group.vodafone.com/schema/common/v1" xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" xmlns:tns="http://group.vodafone.com/schema/vbo/customer/customer-party/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:extvbo="http://group.vodafone.com/schema/extension/vbo/customer/customer-party/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- ======================= Imports ============================= -->
    <xsd:import schemaLocation="../../../CommonComponents.xsd" namespace="http://group.vodafone.com/schema/common/v1"/>
    <xsd:import schemaLocation="Extension/ExtendedCustomerPartyVBO.xsd" namespace="http://group.vodafone.com/schema/extension/vbo/customer/customer-party/v1"/>
    <xsd:import schemaLocation="../../../CoreComponentType_2p0.xsd" namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2"/>
    <xsd:annotation>
        <xsd:documentation>
			<p>Schema Definition for Customer Party</p>
		</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="RelatedCustomerPartyType">
        <xsd:annotation>
            <xsd:documentation>A reference to a related customer party identified through the ID[/@schemeName='Customer Party ID']. This may be an organisation-employee relationship, family group or other.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedRelatedCustomerPartyType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="IndividualType">
        <xsd:annotation>
            <xsd:documentation>Individual Role Type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:IndividualRoleType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedIndividualType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="OrganisationType">
        <xsd:annotation>
            <xsd:documentation>Organisation Role Type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:OrganisationPartyType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="LegalEntity" type="cmn:LegalEntityType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>The details of an organisation if the organisation represented by the customer party is a legal entity such as a corporation.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="PublicEntity" type="cmn:PublicEntityType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>The details of an organisation if the organisation represented by the customer party is a public entity such as a government body or charity.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="Extension" type="extvbo:ExtendedOrganisationType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerAccountType">
        <xsd:annotation>
            <xsd:documentation>A type defining a reference to a customer account held, used by the customer.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:CustomerAccountReferenceType">
                <xsd:sequence>
                    <xsd:element name="ExternalReferences" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The set of references to external entities and resources outside of the CSM services.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ExternalReference" type="tns:ExternalReferenceType" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:documentation>An external reference to an entity or resource external to the abstraction.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Extension" type="extvbo:ExtendedCustomerAccountType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerAgreementType">
        <xsd:annotation>
            <xsd:documentation>Customer Agreement Type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:CustomerAgreementReferenceType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedCustomerAgreementType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerPartyVBOType">
        <xsd:annotation>
            <xsd:documentation>The definition for a Vodafone Customer Party. The role of a party interacting with Vodafone as a user, or potential user, of their goods and services.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:ExtendedBaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Details" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The set of attributes for a Customer Party outside of the standard attributes.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="CustomerValue" type="cct:TextType" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The value of the customer as defined by the business, e.g. Gold, Platinum, etc.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PotentialRevenue" type="cct:AmountType" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The potential revenue that may be generated by Vodafone from the customer, in a monetary amount.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PIN" type="cmn:PINType" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>Customer PIN/Password</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="Extension" type="extvbo:ExtendedCustomerPartyDetailsType" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="RelatedCustomerParties" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The set of related customer parties to this one. Supports both hierarchial and graph relationships. In business terms it can be used to support organisation-employee relationships or family groups.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="RelatedCustomerParty" type="tns:RelatedCustomerPartyType" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:documentation>A reference to a customer party record that is related in some way to the current one. The referenced target customer party is identified through the ID[/@schemeName='Customer Party ID'].</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Parts" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The set of components that define a Vodafone Customer Party.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice>
                                    <xsd:element name="Individual" type="tns:IndividualType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>If the Customer Party is an individual then this component holds the details of the individual.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="Organisation" type="tns:OrganisationType" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation>If the Customer Party is an organisation then this component holds the details of the organisation.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:choice>
                                <xsd:element name="ContactPoints" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The set of contact points for the Customer Party. These may be e-mail, postal address, telephone number, etc.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="ContactPoint" type="cmn:ContactPointType" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>A specific contact point for the Customer Party. These may be e-mail, postal address, telephone number, etc. And may be differentiated as business, home, etc.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ContactPeople" type="tns:PartyContactPeopleType" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The set of people who may be contacted on behalf of the customer party. If the party is an organisation then these are the primary contact people within that organisation. A specific Contact Person may themselves be a customer of Vodafone and have a similar Customer Party record.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="CustomerAccounts" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The set of operational accounts held by the Customer Party. The goods and services used by the Customer are operated under one of these accounts.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="CustomerAccount" type="tns:CustomerAccountType" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>The set of operational accounts held by the Customer Party. The goods and services used by the Customer are operated under one of these accounts. The ID[/@schemeName='Customer Account ID''] forms the reference to the Customer Account service.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="CustomerAgreements" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The set of agreements that the customer and Vodafone interact and operate the goods and services being used. Includes the Terms and Conditions for the relationship.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="CustomerAgreement" type="tns:CustomerAgreementType" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>A specific agreement that the customer and Vodafone interact and operate the goods and services being used. Includes the Terms and Conditions for the relationship.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ExternalReferences" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The set of references to external entities and resources outside of the CSM services.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="ExternalReference" type="tns:ExternalReferenceType" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>An external reference to an entity or resource external to the abstraction.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Identifications" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The set of identifications associated to the Customer Party</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="Identification" type="tns:IdentificationType" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>An identification associated to the Customer Party</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Extension" type="extvbo:ExtendedCustomerPartyPartsType" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Extension" type="extvbo:ExtendedCustomerPartyVBOType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PartyContactPeopleType">
        <xsd:annotation>
            <xsd:documentation>Contact People Type definition</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ContactPerson" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A specific contact person for the customer party. A delegated individual who may be contacted on behlf of the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="cmn:ContactPersonType">
                            <xsd:sequence>
                                <xsd:element name="ContactPoints" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:documentation>The set of contact points for the Contact Person. These may be e-mail, postal address, telephone number, etc.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="ContactPoint" type="cmn:ContactPointType" minOccurs="0" maxOccurs="unbounded">
                                                <xsd:annotation>
                                                    <xsd:documentation>A specific contact point for the Contact Person. These may be e-mail, postal address, telephone number, etc. And may be differentiated as business, home, etc.</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="Extension" type="extvbo:ExtendedContactPersonType" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Extension" type="extvbo:ExtendedPartyContactPeopleType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExternalReferenceType">
        <xsd:annotation>
            <xsd:documentation>An external reference to an entity or resource external to the abstraction.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TypeCode" type="cct:CodeType">
                <xsd:annotation>
                    <xsd:documentation>The type of external reference being made. This not the type of the object being referenced.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReferenceID" type="cct:IDType">
                <xsd:annotation>
                    <xsd:documentation>The reference Identifier to the external resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Extension" type="extvbo:ExtendedExternalReferenceType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdentificationType">
        <xsd:annotation>
            <xsd:documentation>An identification associated to the Customer Party</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="cct:TextType"/>
            <xsd:element name="Type" type="cct:TextType"/>
            <xsd:element name="IssuingAuthority" type="cct:TextType" minOccurs="0"/>
            <xsd:element name="IssuingDate" type="cct:DateTimeType" minOccurs="0"/>
            <xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0"/>
            <xsd:element name="Characteristics" type="tns:CharacteristicsListType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="actionCode" type="cmn:ActionCodeType" use="optional">
            <xsd:annotation>
                <xsd:documentation>The @actionCode attribute is used within an Update operation to indicate the action (Add, Update) intended on the Identification.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="CharacteristicsListType">
        <xsd:sequence>
            <xsd:element name="CharacteristicsValue" type="tns:CharactersticsValueType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CharactersticsValueType">
        <xsd:complexContent>
            <xsd:extension base="cmn:CharactersticsValueType">
                <xsd:attribute name="characteristicName" type="xsd:string" use="optional"/>
                <xsd:attribute name="actionCode" type="cmn:ActionCodeType" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>