VFQA_CSM_Common/WSDL/VBS/CustomerParty/V1/CustomerPartyVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information 
and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be 
reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged. Vodafone Group Services Limited - Confidential--><wsdl:definitions name="CustomerParty" targetNamespace="http://group.vodafone.com/contract/vbs/customer/customer-party/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/customer/customer-party/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/customer/customer-party/v1" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
	<wsdl:documentation>version:1.10.0</wsdl:documentation>
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->
	<wssem:category name="EntityService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/customer/customer-party/v1" elementFormDefault="qualified">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/customer/customer-party/v1" schemaLocation="../../../../Schema/VBO/CustomerParty/V1/CustomerPartyVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<!--Update Messages-->
	<wsdl:message name="UpdateCustomerPartyReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the Update Customer Permissions operation
		</wsdl:documentation>
		<wsdl:part name="CustomerPartyDetails" element="vbm:UpdateCustomerPartyVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateCustomerPartyRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the Update Customer Permissions operation
		</wsdl:documentation>
		<wsdl:part name="CustomerPartyDetails" element="vbm:UpdateCustomerPartyVBMResponse"/>
	</wsdl:message>
	
	<!--Create Messages-->
	<wsdl:message name="CreateCustomerPartyReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the Create Customer Permissions operation
		</wsdl:documentation>
		<wsdl:part name="CustomerPartyDetails" element="vbm:CreateCustomerPartyVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateCustomerPartyRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the Create Customer Permissions operation
		</wsdl:documentation>
		<wsdl:part name="CustomerPartyDetails" element="vbm:CreateCustomerPartyVBMResponse"/>
	</wsdl:message>
	
	<!--Get Messages-->
	<wsdl:message name="GetCustomerPartyListReqMessage">
		<wsdl:documentation>This message is used as the request payload to the GetCustomerPartyOperation.</wsdl:documentation>
		<wsdl:part name="CustomerPartyCriteria" element="vbm:GetCustomerPartyListVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerPartyListRespMessage">
		<wsdl:documentation>This message is used as the response payload to the GetCustomerPartyOperation.</wsdl:documentation>
		<wsdl:part name="CustomerPartyList" element="vbm:GetCustomerPartyListVBMResponse"/>
	</wsdl:message>
	
	<!--Notify Messages-->
	<wsdl:message name="NotifyCustomerPartyReqMessage">
		<wsdl:documentation>This message is used as the request payload to the NotifyCustomerPartyOperation.</wsdl:documentation>
		<wsdl:part name="CustomerPartyDetails" element="vbm:NotifyCustomerPartyVBMRequest"/>
	</wsdl:message>
	
	<!--Sync Messages-->
	<wsdl:message name="SyncCustomerPartyReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the Sync Customer Permissions operation
		</wsdl:documentation>
		<wsdl:part name="CustomerPartyDetails" element="vbm:SyncCustomerPartyVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="SyncCustomerPartyRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the Sync Customer Permissions operation
		</wsdl:documentation>
		<wsdl:part name="CustomerPartyDetails" element="vbm:SyncCustomerPartyVBMResponse"/>
	</wsdl:message>
	
	<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>
			This message is used for propagating Error Context and Error Message
		</wsdl:documentation>
		<wsdl:part name="VodafoneFault" element="vfo:Fault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>
			This message is used as the header for SOAP request
		</wsdl:documentation>

		<wsdl:part name="Source" element="vho:Source"/>
		<wsdl:part name="Correlation" element="vho:Correlation"/>
		<wsdl:part name="Cache" element="vho:Cache"/>
		<wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
		<wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
		<wsdl:part name="Destination" element="vho:Destination"/>
		<wsdl:part name="RouteInfo" element="vho:RouteInfo"/>			
		<wsdl:part name="QueryResult" element="vho:QueryResult"/>
	</wsdl:message>
	<wsdl:portType name="CustomerPartyInterface">
		<wsdl:documentation>
			This interface contains operations for the CustomerParty API
		</wsdl:documentation>
    
		<!--Update Operation-->
		<wsdl:operation name="UpdateCustomerParty">
			<wsdl:documentation>
				This operation is used to Update a CustomerParty
			</wsdl:documentation>
			<wsdl:input name="UpdateCustomerPartyRequest" message="vbs:UpdateCustomerPartyReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/update"/>
			<wsdl:output name="UpdateCustomerPartyResponse" message="vbs:UpdateCustomerPartyRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		
		<!--Create Operation-->
		<wsdl:operation name="CreateCustomerParty">
			<wsdl:documentation>
				This operation is used to Create a CustomerParty
			</wsdl:documentation>
			<wsdl:input name="CreateCustomerPartyRequest" message="vbs:CreateCustomerPartyReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/create"/>
			<wsdl:output name="CreateCustomerPartyResponse" message="vbs:CreateCustomerPartyRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
				
		<!--Get Operations-->
		<wsdl:operation name="GetCustomerPartyList">
			<wsdl:documentation>
				This operation is used to Get a CustomerParty list
			</wsdl:documentation>
			<wsdl:input name="GetCustomerPartyListRequest" message="vbs:GetCustomerPartyListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/get-list"/>
			<wsdl:output name="GetCustomerPartyListResponse" message="vbs:GetCustomerPartyListRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		
		
		<!--Sync Operation-->
		<wsdl:operation name="SyncCustomerParty">
			<wsdl:documentation>
				This operation is used to Sync a CustomerParty
			</wsdl:documentation>
			<wsdl:input name="SyncCustomerPartyRequest" message="vbs:SyncCustomerPartyReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/sync"/>
			<wsdl:output name="SyncCustomerPartyResponse" message="vbs:SyncCustomerPartyRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:portType name="CustomerPartyEventInterface">
		<wsdl:documentation>
			This interface contains notification for the Customer Party API
		</wsdl:documentation>

		<!--Notify Operation-->
		<wsdl:operation name="NotifyCustomerParty">
			<wsdl:documentation>
				This operation is used to Notify a CustomerParty to the subscribed systems
			</wsdl:documentation>
			<wsdl:input name="NotifyCustomerPartyRequest" message="vbs:NotifyCustomerPartyReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/notify"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<!--Bindings-->
	<wsdl:binding name="CustomerPartyInterface-SOAP11-HTTPBinding" type="vbs:CustomerPartyInterface">
		<wsdl:documentation>
			This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol
		</wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>
		
		<!--Update Binding-->
		<wsdl:operation name="UpdateCustomerParty">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/update" style="document"/>
			<wsdl:input name="UpdateCustomerPartyRequest">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateCustomerPartyResponse">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>		
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<!--Create Binding-->
		<wsdl:operation name="CreateCustomerParty">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/create" style="document"/>
			<wsdl:input name="CreateCustomerPartyRequest">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateCustomerPartyResponse">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>	
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
			
		<!--Get Binding-->
		<wsdl:operation name="GetCustomerPartyList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/get-list" style="document"/>
			<wsdl:input name="GetCustomerPartyListRequest">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetCustomerPartyListResponse">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="QueryResult" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<!--Sync Binding-->
		<wsdl:operation name="SyncCustomerParty">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/sync" style="document"/>
			<wsdl:input name="SyncCustomerPartyRequest">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SyncCustomerPartyResponse">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>	
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:binding name="CustomerPartyEventInterface-SOAP11-HTTPBinding" type="vbs:CustomerPartyEventInterface">
		<wsdl:documentation>
			This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol
		</wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>
		<!--Notify Binding-->
		<wsdl:operation name="NotifyCustomerParty">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/customer-party/v1/notify" style="document"/>
			<wsdl:input name="NotifyCustomerPartyRequest">
				<!--
				Require that messages contain some custom headers for
				tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>