VFQA_CSM_Common/WSDL/VBS/ServiceOrder/V1/ServiceOrderVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="ServiceOrder" targetNamespace="http://group.vodafone.com/contract/vbs/service/service-order/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/service/service-order/v1" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:ns="http://group.vodafone.com/schema/vbm/order/service-order/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vbm="http://group.vodafone.com/schema/vbm/order/service-order/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<wsdl:documentation>version:1.3.6</wsdl:documentation>
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->
	<wssem:category name="EntityService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://group.vodafone.com/contract/vbs/service/service-order/v1">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/order/service-order/v1" schemaLocation="../../../../Schema/VBO/ServiceOrder/V1/ServiceOrderVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<!--Service Operations Message Structures -->
	<wsdl:message name="CreateServiceOrderReqMessage">
		<wsdl:documentation>This message is used as the request payload to the CreateServiceOrder operation</wsdl:documentation>
		<wsdl:part element="ns:CreateServiceOrderVBMRequest" name="ServiceOrderDetails"/>
	</wsdl:message>
	<wsdl:message name="CreateServiceOrderRespMessage">
		<wsdl:documentation>This message is used as the response payload to the CreateServiceOrder operation</wsdl:documentation>
		<wsdl:part element="ns:CreateServiceOrderVBMResponse" name="ServiceOrderDetails"/>
	</wsdl:message>
	<wsdl:message name="UpdateServiceOrderReqMessage">
		<wsdl:documentation>This message is used as the request payload to the UpdateServiceOrder operation</wsdl:documentation>
		<wsdl:part element="ns:UpdateServiceOrderVBMRequest" name="ServiceOrderDetails"/>
	</wsdl:message>
	<wsdl:message name="UpdateServiceOrderRespMessage">
		<wsdl:documentation>This message is used as the response payload to the UpdateServiceOrder operation</wsdl:documentation>
		<wsdl:part element="ns:UpdateServiceOrderVBMResponse" name="ServiceOrderDetails"/>
	</wsdl:message>
	<wsdl:message name="GetServiceOrderListReqMessage">
		<wsdl:documentation>This message is used as the request payload to the GetServiceOrderList operation</wsdl:documentation>
		<wsdl:part element="ns:GetServiceOrderListVBMRequest" name="ServiceOrderCriteria"/>
	</wsdl:message>
	<wsdl:message name="GetServiceOrderListRespMessage">
		<wsdl:documentation>This message is used as the response payload to the GetServiceOrderList operation</wsdl:documentation>
		<wsdl:part element="ns:GetServiceOrderListVBMResponse" name="ServiceOrderList"/>
	</wsdl:message>
	<wsdl:message name="NotifyServiceOrderReqMessage">
		<wsdl:documentation>This message is used as the request payload to the NotifyServiceOrder operation</wsdl:documentation>
		<wsdl:part element="ns:NotifyServiceOrderVBMRequest" name="ServiceOrderCriteria"/>
	</wsdl:message>
	<wsdl:message name="SyncServiceOrderReqMessage">
		<wsdl:documentation>This message is used as the request payload to the SyncServiceOrder operation</wsdl:documentation>
		<wsdl:part element="ns:SyncServiceOrderVBMRequest" name="ServiceOrderDetails"/>
	</wsdl:message>
	<wsdl:message name="SyncServiceOrderRespMessage">
		<wsdl:documentation>This message is used as the response payload to the SyncServiceOrder operation</wsdl:documentation>
		<wsdl:part element="ns:SyncServiceOrderVBMResponse" name="ServiceOrderDetails"/>
	</wsdl:message>
	
<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>This message is used for propagating Error Context and Error Message</wsdl:documentation>
		<wsdl:part element="vfo:Fault" name="VodafoneFault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>This message is used as the header for SOAP request</wsdl:documentation>
		<wsdl:part element="vho:Source" name="Source"/>
		<wsdl:part element="vho:Correlation" name="Correlation"/>
		<wsdl:part element="vho:Cache" name="Cache"/>
		<wsdl:part element="vho:ServiceDocumentation" name="ServiceDocumentation"/>
		<wsdl:part element="vho:ResultStatus" name="ResultStatus"/>
		<wsdl:part element="vho:Destination" name="Destination"/>
	</wsdl:message>
	<wsdl:portType name="ServiceOrderInterface">
		<wsdl:documentation>This interface contains operations for the ServiceOrder API</wsdl:documentation>
		<wsdl:operation name="CreateServiceOrder">
			<wsdl:documentation>This operation is used to CreateServiceOrder </wsdl:documentation>
			<wsdl:input message="vbs:CreateServiceOrderReqMessage" name="CreateServiceOrderRequest" wsaw:Action="http://group.vodafone.com/contract/vbs/service/service-order/v1/create"/>
			<wsdl:output message="vbs:CreateServiceOrderRespMessage" name="CreateServiceOrderResponse"/>
			<wsdl:fault message="vbs:VodafoneFault" name="VodafoneFault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateServiceOrder">
			<wsdl:documentation>This operation is used to UpdateServiceOrder </wsdl:documentation>
			<wsdl:input message="vbs:UpdateServiceOrderReqMessage" name="UpdateServiceOrderRequest" wsaw:Action="http://group.vodafone.com/contract/vbs/service/service-order/v1/update"/>
			<wsdl:output message="vbs:UpdateServiceOrderRespMessage" name="UpdateServiceOrderResponse"/>
			<wsdl:fault message="vbs:VodafoneFault" name="VodafoneFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetServiceOrderList">
			<wsdl:documentation>This operation is used to GetServiceOrderList </wsdl:documentation>
			<wsdl:input message="vbs:GetServiceOrderListReqMessage" name="GetServiceOrderListRequest" wsaw:Action="http://group.vodafone.com/contract/vbs/service/service-order/v1/get-list"/>
			<wsdl:output message="vbs:GetServiceOrderListRespMessage" name="GetServiceOrderListResponse"/>
			<wsdl:fault message="vbs:VodafoneFault" name="VodafoneFault"/>
		</wsdl:operation>
		<wsdl:operation name="SyncServiceOrder">
			<wsdl:documentation>This operation is used to SyncServiceOrder </wsdl:documentation>
			<wsdl:input message="vbs:SyncServiceOrderReqMessage" name="SyncServiceOrderRequest" wsaw:Action="http://group.vodafone.com/contract/vbs/service/service-order/v1/sync"/>
			<wsdl:output message="vbs:SyncServiceOrderRespMessage" name="SyncServiceOrderResponse"/>
			<wsdl:fault message="vbs:VodafoneFault" name="VodafoneFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ServiceOrderEventInterface">
		<wsdl:documentation>This interface contains operations for the ServiceOrder Event API</wsdl:documentation>
		<wsdl:operation name="NotifyServiceOrder">
			<wsdl:documentation>This operation is used to NotifyServiceOrder </wsdl:documentation>
			<wsdl:input message="vbs:NotifyServiceOrderReqMessage" name="NotifyServiceOrderRequest" wsaw:Action="http://group.vodafone.com/contract/vbs/service/service-order/v1/notify"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ServiceOrderInterface-SOAP11-HTTPBinding" type="vbs:ServiceOrderInterface">
		<wsdl:documentation>This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol </wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="CreateServiceOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/service-order/v1/create" style="document"/>
			<wsdl:input name="CreateServiceOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateServiceOrderResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateServiceOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/service-order/v1/update" style="document"/>
			<wsdl:input name="UpdateServiceOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateServiceOrderResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetServiceOrderList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/service-order/v1/get-list" style="document"/>
			<wsdl:input name="GetServiceOrderListRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetServiceOrderListResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SyncServiceOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/service-order/v1/sync" style="document"/>
			<wsdl:input name="SyncServiceOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SyncServiceOrderResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ServiceOrderEventInterface-SOAP11-HTTPBinding" type="vbs:ServiceOrderEventInterface">
		<wsdl:documentation>This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol </wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="NotifyServiceOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/service-order/v1/notify" style="document"/>
			<wsdl:input name="NotifyServiceOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>