VFQA_CSM_Common/WSDL/VBS/ProcessCardPayment/V1/ProcessCardPaymentVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="ProcessCardPayment" targetNamespace="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/payment/process-card-payment/v2" xmlns:vbs="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
	<wsdl:documentation>
	    The Process Card Payment service is a "Task" service that provides capabilities to handle a range of card payment types for Vodafone Customers. As a "Task" service it provides operations to Authorise, Settle, AuthoriseSettle and Notify payments made with a set of different card types.
		Version V2.0
	</wsdl:documentation>
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->
	<wssem:category name="TaskService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2" elementFormDefault="qualified">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/payment/process-card-payment/v2" schemaLocation="../../../../Schema/VBO/ProcessCardPayment/V1/CardPaymentVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<!--Service Operations Message Structures -->
	<wsdl:message name="AuthoriseCardPaymentReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the AuthoriseCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:AuthoriseCardPaymentVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="AuthoriseCardPaymentRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the AuthoriseCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:AuthoriseCardPaymentVBMResponse"/>
	</wsdl:message>
	
	<wsdl:message name="CancelCardPaymentReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the CancelCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:CancelCardPaymentVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="CancelCardPaymentRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the CancelCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:CancelCardPaymentVBMResponse"/>
	</wsdl:message>
	
	
	<wsdl:message name="SettleCardPaymentReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the SettleCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:SettleCardPaymentVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="SettleCardPaymentRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the SettleCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:SettleCardPaymentVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="EstablishCardPaymentReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the EstablishCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:EstablishCardPaymentVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="EstablishCardPaymentRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the EstablishCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentDetails" element="vbm:EstablishCardPaymentVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="NotifyCardPaymentReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the NotifyCardPayment operation
		</wsdl:documentation>
		<wsdl:part name="CardPaymentCriteria" element="vbm:NotifyCardPaymentVBMRequest"/>
	</wsdl:message>
	<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>
		This message is used for propagating Error Context and Error Message
    </wsdl:documentation>
		<wsdl:part name="VodafoneFault" element="vfo:Fault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>
			This message is used as the header for SOAP request			
		</wsdl:documentation>
		<wsdl:part name="Source" element="vho:Source"/>
        <wsdl:part name="Destination" element="vho:Destination"/>
		<wsdl:part name="Correlation" element="vho:Correlation"/>
		<wsdl:part name="Cache" element="vho:Cache"/>
		<wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
		<wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
	    <wsdl:part name="RouteInfo" element="vho:RouteInfo"/>
        <wsdl:part name="QueryResult" element="vho:QueryResult"/>
	</wsdl:message>
	<wsdl:portType name="CardPaymentInterface">
		<wsdl:documentation>
			This interface contains operations for the ProcessCardPayment API
		</wsdl:documentation>
		<wsdl:operation name="AuthoriseCardPayment">
		<wsdl:documentation>
			This operation is used to AuthoriseCardPayment 
		</wsdl:documentation> 
			<wsdl:input name="AuthoriseCardPaymentRequest" message="vbs:AuthoriseCardPaymentReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/authorise"/>
			<wsdl:output name="AuthoriseCardPaymentResponse" message="vbs:AuthoriseCardPaymentRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		
		<wsdl:operation name="CancelCardPayment">
		<wsdl:documentation>
			This operation is used to CancelCardPayment 
		</wsdl:documentation> 
			<wsdl:input name="CancelCardPaymentRequest" message="vbs:CancelCardPaymentReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/Cancel"/>
			<wsdl:output name="CancelCardPaymentResponse" message="vbs:CancelCardPaymentRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		
		
		<wsdl:operation name="SettleCardPayment">
		<wsdl:documentation>
			This operation is used to SettleCardPayment 
		</wsdl:documentation> 
			<wsdl:input name="SettleCardPaymentRequest" message="vbs:SettleCardPaymentReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/settle"/>
			<wsdl:output name="SettleCardPaymentResponse" message="vbs:SettleCardPaymentRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>	
		<wsdl:operation name="EstablishCardPayment">
		<wsdl:documentation>
			This operation is used to EstablishCardPayment 
		</wsdl:documentation> 
			<wsdl:input name="EstablishCardPaymentRequest" message="vbs:EstablishCardPaymentReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/establish"/>
			<wsdl:output name="EstablishCardPaymentResponse" message="vbs:EstablishCardPaymentRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>		
	</wsdl:portType>
	<wsdl:portType name="CardPaymentEventInterface">
	<wsdl:documentation>
		This interface contains operations for the ProcessCardPayment Event API
	</wsdl:documentation>
		<wsdl:operation name="NotifyCardPayment">
		<wsdl:documentation>
			This operation is used to NotifyCardPayment 
		</wsdl:documentation> 
			<wsdl:input name="NotifyCardPaymentRequest" message="vbs:NotifyCardPaymentReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/notify"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CardPaymentInterface-SOAP11-HTTPBinding" type="vbs:CardPaymentInterface">
	<wsdl:documentation>
		This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol 
	</wsdl:documentation> 
	<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 --> 
	<wsaw:UsingAddressing wsdl:required="true"/>
	<wsdl:operation name="AuthoriseCardPayment">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/authorise" style="document"/>
			<wsdl:input name="AuthoriseCardPaymentRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AuthoriseCardPaymentResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
	</wsdl:operation>
	
	<wsdl:operation name="CancelCardPayment">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/Cancel" style="document"/>
			<wsdl:input name="CancelCardPaymentRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CancelCardPaymentResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
	</wsdl:operation>
	
	<wsdl:operation name="SettleCardPayment">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/settle" style="document"/>
			<wsdl:input name="SettleCardPaymentRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SettleCardPaymentResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="EstablishCardPayment">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/establish" style="document"/>
			<wsdl:input name="EstablishCardPaymentRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="EstablishCardPaymentResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:binding name="CardPaymentEventInterface-SOAP11-HTTPBinding" type="vbs:CardPaymentEventInterface">
	<wsdl:documentation>
		This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol 
	</wsdl:documentation> 
	<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 --> 
	<wsaw:UsingAddressing wsdl:required="true"/>
	<wsdl:operation name="NotifyCardPayment">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/process-card-payment/v2/notify" style="document"/>
			<wsdl:input name="NotifyCardPaymentRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
                <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>