VFQA_CSM_Common/WSDL/VBS/Payment/Payment/V1/PaymentVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="ProcessPayment" targetNamespace="http://group.vodafone.com/contract/vbs/payment/payment/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/payment/payment/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/payment/payment/v1" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
   <wsdl:documentation>An Entity Service providing capabilities to support retrieving payment with multiple payment methods like Card (GiroPay etc.,), Gift/Scratch cards, Digital currencies(BitCoin), PayPal and digital wallets (ApplePay, Google Wallet, M-Pesa etc.,) on the payment system.</wsdl:documentation>
   <!--Show support for WS-Policy and the attachment of policy assertions-->
   <wsp:UsingPolicy wsdl:Required="true"/>
   <!--The categorisation of the service as defined by the service architecture-->
   <wssem:category name="TaskService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
   <wsdl:types>
      <xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/payment/payment/v1" elementFormDefault="qualified">
         <xsd:import namespace="http://group.vodafone.com/schema/vbm/payment/payment/v1" schemaLocation="../../../../../Schema/VBO/Payment/Payment/V1/PaymentVBM.xsd"/>
         <xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../../Schema/Fault.xsd"/>
         <xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../../Schema/Header.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <!--Service Operations Message Structures-->
   <wsdl:message name="GetPaymentListReqMessage">
      <wsdl:documentation>This message is used as the request payload to the GetPaymentList operation</wsdl:documentation>
      <wsdl:part name="PaymenCriteria" element="vbm:GetPaymentListVBMRequest"/>
   </wsdl:message>
   <wsdl:message name="GetPaymentListRespMessage">
      <wsdl:documentation>This message is used as the response payload to the GetPaymentList operation</wsdl:documentation>
      <wsdl:part name="PaymentList" element="vbm:GetPaymentListVBMResponse"/>
   </wsdl:message>
   <wsdl:message name="SyncPaymentReqMessage">
      <wsdl:documentation>This message is used as the request payload to the SyncPayment operation</wsdl:documentation>
      <wsdl:part name="PaymenDetails" element="vbm:SyncPaymentVBMRequest"/>
   </wsdl:message>
   <wsdl:message name="SyncPaymentRespMessage">
      <wsdl:documentation>This message is used as the response payload to the SyncPayment operation</wsdl:documentation>
      <wsdl:part name="PaymenDetails" element="vbm:SyncPaymentVBMResponse"/>
   </wsdl:message>
   <wsdl:message name="NotifyPaymentReqMessage">
      <wsdl:documentation>This message is used as the request payload to the NotifyPayment operation</wsdl:documentation>
      <wsdl:part name="PaymentDetails" element="vbm:NotifyPaymentVBMRequest"/>
   </wsdl:message>
   <!--Supporting Messages-->
   <wsdl:message name="VodafoneFault">
      <wsdl:documentation>This message is used for propagating Error Context and Error Message</wsdl:documentation>
      <wsdl:part name="VodafoneFault" element="vfo:Fault"/>
   </wsdl:message>
   <wsdl:message name="MessageHeaders">
      <wsdl:documentation>This message is used as the header for SOAP request</wsdl:documentation>
      <wsdl:part name="Source" element="vho:Source"/>
      <wsdl:part name="Destination" element="vho:Destination"/>
      <wsdl:part name="Correlation" element="vho:Correlation"/>
      <wsdl:part name="Cache" element="vho:Cache"/>
      <wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
      <wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
      <wsdl:part name="RouteInfo" element="vho:RouteInfo"/>
      <wsdl:part name="QueryResult" element="vho:QueryResult"/>
   </wsdl:message>
   <wsdl:portType name="PaymentEventInterface">
      <wsdl:documentation>This interface contains operations for the Payment API</wsdl:documentation>
      <wsdl:operation name="NotifyPayment">
         <wsdl:documentation>This operation is used to NotifyPayment</wsdl:documentation>
         <wsdl:input name="NotifyPaymentRequest" message="vbs:NotifyPaymentReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/payment/v1/notify"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="PaymentInterface">
      <wsdl:documentation>This interface contains operations for the Payment API</wsdl:documentation>
      <wsdl:operation name="GetPaymentList">
         <wsdl:documentation>This operation is used to get the list of payments</wsdl:documentation>
         <wsdl:input name="GetPaymentListRequest" message="vbs:GetPaymentListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/payment/v1/get-list"/>
         <wsdl:output name="GetPaymentListResponse" message="vbs:GetPaymentListRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
      <wsdl:operation name="SyncPayment">
         <wsdl:documentation>This operation is used to get the list of payments</wsdl:documentation>
         <wsdl:input name="SyncPaymentRequest" message="vbs:SyncPaymentReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/payment/v1/sync"/>
         <wsdl:output name="SyncPaymentResponse" message="vbs:SyncPaymentRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PaymentInterface-SOAP11-HTTPBinding" type="vbs:PaymentInterface">
      <wsdl:documentation>This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol</wsdl:documentation>
      <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <!--Use WS-Addressing v1.0-->
      <wsaw:UsingAddressing wsdl:required="true"/>
      <wsdl:operation name="GetPaymentList">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/payment/v1/get-list" style="document"/>
         <wsdl:input name="GetPaymentListRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetPaymentListResponse">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="QueryResult" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="SyncPayment">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/payment/v1/sync" style="document"/>
         <wsdl:input name="SyncPaymentRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="SyncPaymentResponse">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="PaymentEventInterface-SOAP11-HTTPBinding" type="vbs:PaymentEventInterface">
      <wsdl:documentation>This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol</wsdl:documentation>
      <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <!--Use WS-Addressing v1.0-->
      <wsaw:UsingAddressing wsdl:required="true"/>
      <wsdl:operation name="NotifyPayment">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/payment/v1/notify" style="document"/>
         <wsdl:input name="NotifyPaymentRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>