VFQA_CSM_Common/WSDL/VBS/Loyalty/LoyaltyAccount/V1/LoyaltyAccountVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="LoyaltyAccount" targetNamespace="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/customer/loyalty-account/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
	<wsdl:documentation>
	    The Loyalty Account service is an entity service that provides capabilities to manage Loyalty Accounts. Where a Loyalty Account is the record held by an Organisation about the Loyalty program that a Party has agreed to. The intent behind a Loyalty program and therefore the Account is to retain the participation of the Customer in the selling process.
		Version V1.0
	</wsdl:documentation>
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->
	<wssem:category name="EntityService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1" elementFormDefault="qualified">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/customer/loyalty-account/v1" schemaLocation="../../../../../Schema/VBO/Loyalty/LoyaltyAccount/V1/LoyaltyAccountVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<!--Service Operations Message Structures -->
		<wsdl:message name="UpdateLoyaltyAccountReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the UpdateLoyaltyAccount operation
		</wsdl:documentation>
		<wsdl:part name="LoyaltyAccountDetails" element="vbm:UpdateLoyaltyAccountVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateLoyaltyAccountRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the UpdateLoyaltyAccount operation
		</wsdl:documentation>
		<wsdl:part name="LoyaltyAccountDetails" element="vbm:UpdateLoyaltyAccountVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="GetLoyaltyAccountListReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the GetLoyaltyAccountList operation
		</wsdl:documentation>
		<wsdl:part name="LoyaltyAccountCriteria" element="vbm:GetLoyaltyAccountListVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="GetLoyaltyAccountListRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the GetLoyaltyAccountList operation
		</wsdl:documentation>
		<wsdl:part name="LoyaltyAccountList" element="vbm:GetLoyaltyAccountListVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="SyncLoyaltyAccountReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the SyncLoyaltyAccount operation
		</wsdl:documentation>
		<wsdl:part name="LoyaltyAccountDetails" element="vbm:SyncLoyaltyAccountVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="SyncLoyaltyAccountRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the SyncLoyaltyAccount operation
		</wsdl:documentation>
		<wsdl:part name="LoyaltyAccountDetails" element="vbm:SyncLoyaltyAccountVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="NotifyLoyaltyAccountReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the NotifyLoyaltyAccount operation
		</wsdl:documentation>
		<wsdl:part name="LoyaltyAccountCriteria" element="vbm:NotifyLoyaltyAccountVBMRequest"/>
	</wsdl:message>

	<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>
		This message is used for propagating Error Context and Error Message
    </wsdl:documentation>
		<wsdl:part name="VodafoneFault" element="vfo:Fault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>
			This message is used as the header for SOAP request			
		</wsdl:documentation>
		<wsdl:part name="Source" element="vho:Source"/>
		<wsdl:part name="Correlation" element="vho:Correlation"/>
		<wsdl:part name="Cache" element="vho:Cache"/>
		<wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
		<wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
		<wsdl:part name="Destination" element="vho:Destination"/>
	</wsdl:message>

	<wsdl:portType name="LoyaltyAccountInterface">
	<wsdl:documentation>
		This interface contains operations for the LoyaltyAccount API
	</wsdl:documentation>
	<wsdl:operation name="UpdateLoyaltyAccount">
		<wsdl:documentation>
			This operation is used to UpdateLoyaltyAccount 
		</wsdl:documentation> 
			<wsdl:input name="UpdateLoyaltyAccountRequest" message="vbs:UpdateLoyaltyAccountReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/update"/>
			<wsdl:output name="UpdateLoyaltyAccountResponse" message="vbs:UpdateLoyaltyAccountRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	<wsdl:operation name="GetLoyaltyAccountList">
		<wsdl:documentation>
			This operation is used to GetLoyaltyAccountList 
		</wsdl:documentation> 
			<wsdl:input name="GetLoyaltyAccountListRequest" message="vbs:GetLoyaltyAccountListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/get-list"/>
			<wsdl:output name="GetLoyaltyAccountListResponse" message="vbs:GetLoyaltyAccountListRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	<wsdl:operation name="SyncLoyaltyAccount">
		<wsdl:documentation>
			This operation is used to SyncLoyaltyAccount 
		</wsdl:documentation> 
			<wsdl:input name="SyncLoyaltyAccountRequest" message="vbs:SyncLoyaltyAccountReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/sync"/>
			<wsdl:output name="SyncLoyaltyAccountResponse" message="vbs:SyncLoyaltyAccountRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="LoyaltyAccountEventInterface">
	<wsdl:documentation>
		This interface contains operations for the LoyaltyAccount Event API
	</wsdl:documentation>
		<wsdl:operation name="NotifyLoyaltyAccount">
		<wsdl:documentation>
			This operation is used to NotifyLoyaltyAccount 
		</wsdl:documentation> 
			<wsdl:input name="NotifyLoyaltyAccountRequest" message="vbs:NotifyLoyaltyAccountReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/notify"/>
		</wsdl:operation>
	</wsdl:portType>


		<wsdl:binding name="LoyaltyAccountInterface-SOAP11-HTTPBinding" type="vbs:LoyaltyAccountInterface">
	<wsdl:documentation>
		This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol 
	</wsdl:documentation> 
	<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 --> 
	<wsaw:UsingAddressing wsdl:required="true"/>
	<wsdl:operation name="UpdateLoyaltyAccount">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/update" style="document"/>
			<wsdl:input name="UpdateLoyaltyAccountRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateLoyaltyAccountResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="GetLoyaltyAccountList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/get-list" style="document"/>
			<wsdl:input name="GetLoyaltyAccountListRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetLoyaltyAccountListResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	<wsdl:operation name="SyncLoyaltyAccount">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/sync" style="document"/>
			<wsdl:input name="SyncLoyaltyAccountRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SyncLoyaltyAccountResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="LoyaltyAccountEventInterface-SOAP11-HTTPBinding" type="vbs:LoyaltyAccountEventInterface">
	<wsdl:documentation>
		This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol 
	</wsdl:documentation> 
	<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 --> 
	<wsaw:UsingAddressing wsdl:required="true"/>
	<wsdl:operation name="NotifyLoyaltyAccount">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/customer/loyalty-account/v1/notify" style="document"/>
			<wsdl:input name="NotifyLoyaltyAccountRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	
</wsdl:definitions>