VFQA_CSM_Common/WSDL/VBS/CustomerBill/V1/CustomerBillVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="CustomerBill" targetNamespace="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/payment/customer-bill/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">

	<wsdl:documentation/>
	
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->

	<wssem:category name="EntityService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>

	<wsdl:types>
		<xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1" elementFormDefault="qualified">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/payment/customer-bill/v1" schemaLocation="../../../../Schema/VBO/CustomerBill/V1/CustomerBillVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>



	<wsdl:message name="GetCustomerBillListReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the GetCustomerBillList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillCriteria" element="vbm:GetCustomerBillListVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerBillListRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the GetCustomerBillList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillList" element="vbm:GetCustomerBillListVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerBillSummaryListReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the GetCustomerBillSummaryList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillSummaryCriteria" element="vbm:GetCustomerBillSummaryListVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerBillSummaryListRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the GetCustomerBillSummaryList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillSummaryList" element="vbm:GetCustomerBillSummaryListVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerBillLineItemListReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the GetCustomerBillLineItemList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillLineItemCriteria" element="vbm:GetCustomerBillLineItemListVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerBillLineItemListRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the GetCustomerBillLineItemList operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillLineItemList" element="vbm:GetCustomerBillLineItemListVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="NotifyCustomerBillReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the NotifyCustomerBill operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillDetails" element="vbm:NotifyCustomerBillVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="SyncCustomerBillReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the SyncCustomerBill operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillDetails" element="vbm:SyncCustomerBillVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="SyncCustomerBillRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the SyncCustomerBill operation
		</wsdl:documentation>
		<wsdl:part name="CustomerBillDetails" element="vbm:SyncCustomerBillVBMResponse"/>
	</wsdl:message>



	<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>
			This message is used for propagating Error Context and Error Message
		</wsdl:documentation>
		<wsdl:part name="VodafoneFault" element="vfo:Fault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>
			This message is used as the header for SOAP request
		</wsdl:documentation>
		<wsdl:part name="Source" element="vho:Source"/>
		<wsdl:part name="Correlation" element="vho:Correlation"/>
		<wsdl:part name="Cache" element="vho:Cache"/>
		<wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
		<wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
		<wsdl:part name="Destination" element="vho:Destination"/>
	</wsdl:message>

	<wsdl:portType name="CustomerBillInterface">
		<wsdl:documentation>
			This interface contains operations for the CustomerBill API
		</wsdl:documentation>
		<wsdl:operation name="GetCustomerBillList">
			<wsdl:documentation>
				This operation is used to GetCustomerBillList
			</wsdl:documentation>
			<wsdl:input name="GetCustomerBillListRequest" message="vbs:GetCustomerBillListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1/get-list"/>
			<wsdl:output name="GetCustomerBillListResponse" message="vbs:GetCustomerBillListRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetCustomerBillSummaryList">
			<wsdl:documentation>
				This operation is used to GetCustomerBillSummaryList
			</wsdl:documentation>
			<wsdl:input name="GetCustomerBillSummaryListRequest" message="vbs:GetCustomerBillSummaryListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/customer-bill-summary/v1/get-list"/>
			<wsdl:output name="GetCustomerBillSummaryListResponse" message="vbs:GetCustomerBillSummaryListRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetCustomerBillLineItemList">
			<wsdl:documentation>
				This operation is used to GetCustomerBillLineItemList
			</wsdl:documentation>
			<wsdl:input name="GetCustomerBillLineItemListRequest" message="vbs:GetCustomerBillLineItemListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/customer-bill-lineitem/v1/get-list"/>
			<wsdl:output name="GetCustomerBillLineItemListResponse" message="vbs:GetCustomerBillLineItemListRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>

		<wsdl:operation name="SyncCustomerBill">
			<wsdl:documentation>
				This operation is used to SyncCustomerBill
			</wsdl:documentation>
			<wsdl:input name="SyncCustomerBillRequest" message="vbs:SyncCustomerBillReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1/sync"/>
			<wsdl:output name="SyncCustomerBillResponse" message="vbs:SyncCustomerBillRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>


	</wsdl:portType>
	<wsdl:portType name="CustomerBillEventInterface">
		<wsdl:documentation>
			This interface contains operations for the CustomerBill Event API
		</wsdl:documentation>
		<wsdl:operation name="NotifyCustomerBill">
			<wsdl:documentation>
				This operation is used to NotifyCustomerBill
			</wsdl:documentation>
			<wsdl:input name="NotifyCustomerBillRequest" message="vbs:NotifyCustomerBillReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1/notify"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CustomerBillInterface-SOAP11-HTTPBinding" type="vbs:CustomerBillInterface">

		<wsdl:documentation>
			This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol
		</wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	
		<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>

		<wsdl:operation name="GetCustomerBillList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1/get-list" style="document"/>
			<wsdl:input name="GetCustomerBillListRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetCustomerBillListResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetCustomerBillSummaryList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/customer-bill-summary/v1/get-list" style="document"/>
			<wsdl:input name="GetCustomerBillSummaryListRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetCustomerBillSummaryListResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetCustomerBillLineItemList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/customer-bill-lineitem/v1/get-list" style="document"/>
			<wsdl:input name="GetCustomerBillLineItemListRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetCustomerBillLineItemListResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SyncCustomerBill">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1/sync" style="document"/>
			<wsdl:input name="SyncCustomerBillRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SyncCustomerBillResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>


	</wsdl:binding>
	<wsdl:binding name="CustomerBillEventInterface-SOAP11-HTTPBinding" type="vbs:CustomerBillEventInterface">
		<wsdl:documentation>
			This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol
		</wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="NotifyCustomerBill">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/payment/customer-bill/v1/notify" style="document"/>
			<wsdl:input name="NotifyCustomerBillRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>					
				<soap11:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>