VFQA_CSM_Common/WSDL/VBS/SalesOrder/V1/SalesOrderVBS.wsdl

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><wsdl:definitions name="SalesOrder" targetNamespace="http://group.vodafone.com/contract/vbs/order/sales-order/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/order/sales-order/v2" xmlns:vbs="http://group.vodafone.com/contract/vbs/order/sales-order/v2" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
	<wsdl:documentation>
		A Sales Order is the mechanism allowing a customer to order products / services. These products and services are made available to the customer as Product Offerings. A Sales Order can also contain an order to stop a Subscription to an existing product or instructions to modify it in some way. Additionally, things like SIM swap, and service configuration changes may be included on a Sales Order. A Sales Order line item therefore will have a Create action for Product Offerings
		and a Delete or
		Modify action for Products, Resources and Services
		Version V1.0
	</wsdl:documentation>
	<!-- Show support for WS-Policy and the attachment of policy assertions -->
	<wsp:UsingPolicy wsdl:Required="true"/>
	<!-- The categorisation of the service as defined by the service architecture -->
	<wssem:category name="EntityService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/order/sales-order/v2" elementFormDefault="qualified">
			<xsd:import namespace="http://group.vodafone.com/schema/vbm/order/sales-order/v2" schemaLocation="../../../../Schema/VBO/SalesOrder/V1/SalesOrderVBM.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../Schema/Fault.xsd"/>
			<xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../Schema/Header.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<!--Service Operations Message Structures -->
	<wsdl:message name="CreateSalesOrderReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the CreateSalesOrder operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderDetails" element="vbm:CreateSalesOrderVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateSalesOrderRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the CreateSalesOrder operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderDetails" element="vbm:CreateSalesOrderVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateSalesOrderReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the UpdateSalesOrder operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderDetails" element="vbm:UpdateSalesOrderVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateSalesOrderRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the UpdateSalesOrder operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderDetails" element="vbm:UpdateSalesOrderVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteSalesOrderReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the DeleteSalesOrder operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderDetails" element="vbm:DeleteSalesOrderVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteSalesOrderRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the DeleteSalesOrder operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderDetails" element="vbm:DeleteSalesOrderVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSalesOrderListReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the GetSalesOrderList operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderCriteria" element="vbm:GetSalesOrderListVBMRequest"/>
	</wsdl:message>
	<wsdl:message name="GetSalesOrderListRespMessage">
		<wsdl:documentation>
			This message is used as the response payload to the GetSalesOrderList operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderList" element="vbm:GetSalesOrderListVBMResponse"/>
	</wsdl:message>
	<wsdl:message name="NotifySalesOrderReqMessage">
		<wsdl:documentation>
			This message is used as the request payload to the NotifySalesOrder operation
		</wsdl:documentation>
		<wsdl:part name="SalesOrderCriteria" element="vbm:NotifySalesOrderVBMRequest"/>
	</wsdl:message>
	<!--Supporting Messages-->
	<wsdl:message name="VodafoneFault">
		<wsdl:documentation>
			This message is used for propagating Error Context and Error Message
		</wsdl:documentation>
		<wsdl:part name="VodafoneFault" element="vfo:Fault"/>
	</wsdl:message>
	<wsdl:message name="MessageHeaders">
		<wsdl:documentation>
			This message is used as the header for SOAP request
		</wsdl:documentation>
		<wsdl:part name="Source" element="vho:Source"/>
		<wsdl:part name="Correlation" element="vho:Correlation"/>
		<wsdl:part name="Cache" element="vho:Cache"/>
		<wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
		<wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
		<wsdl:part name="Destination" element="vho:Destination"/>
        <wsdl:part name="RouteInfo" element="vho:RouteInfo"/>
        <wsdl:part name="QueryResult" element="vho:QueryResult"/>
    </wsdl:message>
	<wsdl:portType name="SalesOrderInterface">
		<wsdl:documentation>
			This interface contains operations for the SalesOrder API
		</wsdl:documentation>
		<wsdl:operation name="CreateSalesOrder">
			<wsdl:documentation>
				This operation is used to CreateSalesOrder
			</wsdl:documentation>
			<wsdl:input name="CreateSalesOrderRequest" message="vbs:CreateSalesOrderReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/order/sales-order/v2/create"/>
			<wsdl:output name="CreateSalesOrderResponse" message="vbs:CreateSalesOrderRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateSalesOrder">
			<wsdl:documentation>
				This operation is used to UpdateSalesOrder
			</wsdl:documentation>
			<wsdl:input name="UpdateSalesOrderRequest" message="vbs:UpdateSalesOrderReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/order/sales-order/v2/update"/>
			<wsdl:output name="UpdateSalesOrderResponse" message="vbs:UpdateSalesOrderRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteSalesOrder">
			<wsdl:documentation>
				This operation is used to DeleteSalesOrder
			</wsdl:documentation>
			<wsdl:input name="DeleteSalesOrderRequest" message="vbs:DeleteSalesOrderReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/order/sales-order/v2/delete"/>
			<wsdl:output name="DeleteSalesOrderResponse" message="vbs:DeleteSalesOrderRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetSalesOrderList">
			<wsdl:documentation>
				This operation is used to GetSalesOrderList
			</wsdl:documentation>
			<wsdl:input name="GetSalesOrderListRequest" message="vbs:GetSalesOrderListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/order/sales-order/v2/get-list"/>
			<wsdl:output name="GetSalesOrderListResponse" message="vbs:GetSalesOrderListRespMessage"/>
			<wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SalesOrderEventInterface">
		<wsdl:documentation>
			This interface contains operations for the SalesOrder Event API
		</wsdl:documentation>
		<wsdl:operation name="NotifySalesOrder">
			<wsdl:documentation>
				This operation is used to NotifySalesOrder
			</wsdl:documentation>
			<wsdl:input name="NotifySalesOrderRequest" message="vbs:NotifySalesOrderReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/order/sales-order/v2/notify"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SalesOrderInterface-SOAP11-HTTPBinding" type="vbs:SalesOrderInterface">
		<wsdl:documentation>
			This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol
		</wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="CreateSalesOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/order/sales-order/v2/create" style="document"/>
			<wsdl:input name="CreateSalesOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>				
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateSalesOrderResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateSalesOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/order/sales-order/v2/update" style="document"/>
			<wsdl:input name="UpdateSalesOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>				
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateSalesOrderResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteSalesOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/order/sales-order/v2/delete" style="document"/>
			<wsdl:input name="DeleteSalesOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>				
				<soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteSalesOrderResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetSalesOrderList">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/order/sales-order/v2/get-list" style="document"/>
			<wsdl:input name="GetSalesOrderListRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>                
                <soap11:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetSalesOrderListResponse">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="QueryResult" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="VodafoneFault">
				<soap11:fault name="VodafoneFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SalesOrderEventInterface-SOAP11-HTTPBinding" type="vbs:SalesOrderEventInterface">
		<wsdl:documentation>
			This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol
		</wsdl:documentation>
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- Use WS-Addressing v1.0 -->
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="NotifySalesOrder">
			<soap11:operation soapAction="http://group.vodafone.com/contract/vbs/order/sales-order/v2/notify" style="document"/>
			<wsdl:input name="NotifySalesOrderRequest">
				<!--
					Require that messages contain some custom headers for tracking, routing, auditing.
				-->
				<soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
				<soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
                <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>				
				<soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
				<soap11:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>