ChangeAuthenticationCredential/WSDL/IDM_Phase2.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="http://vodafoneqatar.qa/vfqa/IDM_Phase2" name="IDM_Phase2_Service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vodafoneqatar.qa/vfqa/IDM_Phase2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://vodafoneqatar.qa/vfqa/IDM_Phase2" schemaLocation="../Schema/IDM_Phase2.xsd"/>
</xsd:schema>
</types>
<message name="connectOIM">
<part name="parameters" element="tns:connectOIM"/>
</message>
<message name="connectOIMResponse">
<part name="parameters" element="tns:connectOIMResponse"/>
</message>
<message name="CRM_CREATE_USER">
<part name="parameters" element="tns:CRM_CREATE_USER"/>
</message>
<message name="CRM_CREATE_USERResponse">
<part name="parameters" element="tns:CRM_CREATE_USERResponse"/>
</message>
<message name="CRM_SEARCH_USER">
<part name="parameters" element="tns:CRM_SEARCH_USER"/>
</message>
<message name="CRM_SEARCH_USERResponse">
<part name="parameters" element="tns:CRM_SEARCH_USERResponse"/>
</message>
<message name="CRM_SEARCH_ALL_USER">
<part name="parameters" element="tns:CRM_SEARCH_ALL_USER"/>
</message>
<message name="CRM_SEARCH_ALL_USERResponse">
<part name="parameters" element="tns:CRM_SEARCH_ALL_USERResponse"/>
</message>
<message name="CRM_UPDATE_USER">
<part name="parameters" element="tns:CRM_UPDATE_USER"/>
</message>
<message name="CRM_UPDATE_USERResponse">
<part name="parameters" element="tns:CRM_UPDATE_USERResponse"/>
</message>
<message name="CRM_UNLOCK_USER">
<part name="parameters" element="tns:CRM_UNLOCK_USER"/>
</message>
<message name="CRM_UNLOCK_USERResponse">
<part name="parameters" element="tns:CRM_UNLOCK_USERResponse"/>
</message>
<message name="CRM_RESET_PASSWORD">
<part name="parameters" element="tns:CRM_RESET_PASSWORD"/>
</message>
<message name="CRM_RESET_PASSWORDResponse">
<part name="parameters" element="tns:CRM_RESET_PASSWORDResponse"/>
</message>
<message name="CRM_CHANGE_PASSWORD">
<part name="parameters" element="tns:CRM_CHANGE_PASSWORD"/>
</message>
<message name="CRM_CHANGE_PASSWORDResponse">
<part name="parameters" element="tns:CRM_CHANGE_PASSWORDResponse"/>
</message>
<message name="CRM_SYNC_ACCOUNT">
<part name="parameters" element="tns:CRM_SYNC_ACCOUNT"/>
</message>
<message name="CRM_SYNC_ACCOUNTResponse">
<part name="parameters" element="tns:CRM_SYNC_ACCOUNTResponse"/>
</message>
<message name="IVR_VERIFY_CALLER">
<part name="parameters" element="tns:IVR_VERIFY_CALLER"/>
</message>
<message name="IVR_VERIFY_CALLERResponse">
<part name="parameters" element="tns:IVR_VERIFY_CALLERResponse"/>
</message>
<message name="IVR_PIN_VALIDATION">
<part name="parameters" element="tns:IVR_PIN_VALIDATION"/>
</message>
<message name="IVR_PIN_VALIDATIONResponse">
<part name="parameters" element="tns:IVR_PIN_VALIDATIONResponse"/>
</message>
<message name="MODIFY_PIN">
<part name="parameters" element="tns:MODIFY_PIN"/>
</message>
<message name="MODIFY_PINResponse">
<part name="parameters" element="tns:MODIFY_PINResponse"/>
</message>
<message name="getChildProcessFormData">
<part name="parameters" element="tns:getChildProcessFormData"/>
</message>
<message name="getChildProcessFormDataResponse">
<part name="parameters" element="tns:getChildProcessFormDataResponse"/>
</message>
<message name="GET_ALL_SEC_QUESTIONS">
<part name="parameters" element="tns:GET_ALL_SEC_QUESTIONS"/>
</message>
<message name="GET_ALL_SEC_QUESTIONSResponse">
<part name="parameters" element="tns:GET_ALL_SEC_QUESTIONSResponse"/>
</message>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="GetAdditionalFormAttributes">
<part name="parameters" element="tns:GetAdditionalFormAttributes"/>
</message>
<message name="GetAdditionalFormAttributesResponse">
<part name="parameters" element="tns:GetAdditionalFormAttributesResponse"/>
</message>
<message name="LINK_MSISDN">
<part name="parameters" element="tns:LINK_MSISDN"/>
</message>
<message name="LINK_MSISDNResponse">
<part name="parameters" element="tns:LINK_MSISDNResponse"/>
</message>
<portType name="SessionEJBBean">
<operation name="connectOIM">
<input message="tns:connectOIM"/>
<output message="tns:connectOIMResponse"/>
</operation>
<operation name="CRM_CREATE_USER">
<input message="tns:CRM_CREATE_USER"/>
<output message="tns:CRM_CREATE_USERResponse"/>
</operation>
<operation name="CRM_SEARCH_USER">
<input message="tns:CRM_SEARCH_USER"/>
<output message="tns:CRM_SEARCH_USERResponse"/>
</operation>
<operation name="CRM_SEARCH_ALL_USER">
<input message="tns:CRM_SEARCH_ALL_USER"/>
<output message="tns:CRM_SEARCH_ALL_USERResponse"/>
</operation>
<operation name="CRM_UPDATE_USER">
<input message="tns:CRM_UPDATE_USER"/>
<output message="tns:CRM_UPDATE_USERResponse"/>
</operation>
<operation name="CRM_UNLOCK_USER">
<input message="tns:CRM_UNLOCK_USER"/>
<output message="tns:CRM_UNLOCK_USERResponse"/>
</operation>
<operation name="CRM_RESET_PASSWORD">
<input message="tns:CRM_RESET_PASSWORD"/>
<output message="tns:CRM_RESET_PASSWORDResponse"/>
</operation>
<operation name="CRM_CHANGE_PASSWORD">
<input message="tns:CRM_CHANGE_PASSWORD"/>
<output message="tns:CRM_CHANGE_PASSWORDResponse"/>
</operation>
<operation name="CRM_SYNC_ACCOUNT">
<input message="tns:CRM_SYNC_ACCOUNT"/>
<output message="tns:CRM_SYNC_ACCOUNTResponse"/>
</operation>
<operation name="IVR_VERIFY_CALLER">
<input message="tns:IVR_VERIFY_CALLER"/>
<output message="tns:IVR_VERIFY_CALLERResponse"/>
</operation>
<operation name="IVR_PIN_VALIDATION">
<input message="tns:IVR_PIN_VALIDATION"/>
<output message="tns:IVR_PIN_VALIDATIONResponse"/>
</operation>
<operation name="MODIFY_PIN">
<input message="tns:MODIFY_PIN"/>
<output message="tns:MODIFY_PINResponse"/>
</operation>
<operation name="getChildProcessFormData">
<input message="tns:getChildProcessFormData"/>
<output message="tns:getChildProcessFormDataResponse"/>
</operation>
<operation name="GET_ALL_SEC_QUESTIONS">
<input message="tns:GET_ALL_SEC_QUESTIONS"/>
<output message="tns:GET_ALL_SEC_QUESTIONSResponse"/>
</operation>
<operation name="getName">
<input message="tns:getName"/>
<output message="tns:getNameResponse"/>
</operation>
<operation name="GetAdditionalFormAttributes">
<input message="tns:GetAdditionalFormAttributes"/>
<output message="tns:GetAdditionalFormAttributesResponse"/>
</operation>
<operation name="LINK_MSISDN">
<input message="tns:LINK_MSISDN"/>
<output message="tns:LINK_MSISDNResponse"/>
</operation>
</portType>
<binding name="SessionEJBBeanBinding" type="tns:SessionEJBBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="connectOIM">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_CREATE_USER">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_SEARCH_USER">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_SEARCH_ALL_USER">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_UPDATE_USER">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_UNLOCK_USER">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_RESET_PASSWORD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_CHANGE_PASSWORD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRM_SYNC_ACCOUNT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IVR_VERIFY_CALLER">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IVR_PIN_VALIDATION">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MODIFY_PIN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChildProcessFormData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GET_ALL_SEC_QUESTIONS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAdditionalFormAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LINK_MSISDN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IDM_Phase2_Service">
<port name="SessionEJBBean" binding="tns:SessionEJBBeanBinding">
<soap:address location="http://10.162.53.132:8011/SessionEJBBean/IDM_Phase2_Service"/>
</port>
</service>
</definitions>