VFQA_CSM_Common/Schema/VBO/CustomerServiceUsage/V1/CustomerServiceUsageVBO.xsd

<!--Created with Liquid XML 2016 Designer Edition 14.0.1.6408 (http://www.liquid-technologies.com)--><!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://group.vodafone.com/schema/vbo/customer/customer-service-usage/v1" version="1.0" xmlns:cmn="http://group.vodafone.com/schema/common/v1" xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" xmlns:tns="http://group.vodafone.com/schema/vbo/customer/customer-service-usage/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:extvbo="http://group.vodafone.com/schema/extension/vbo/customer/customer-service-usage/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="../../../CommonComponents.xsd" namespace="http://group.vodafone.com/schema/common/v1"/>
    <xsd:import schemaLocation="Extension/ExtendedCustomerServiceUsageVBO.xsd" namespace="http://group.vodafone.com/schema/extension/vbo/customer/customer-service-usage/v1"/>
    <xsd:import schemaLocation="../../../CoreComponentType_2p0.xsd" namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2"/>
    <xsd:import schemaLocation="../../../Meta.xsd" namespace="http://group.vodafone.com/schema/common/v1"/>
    <xsd:annotation>
        <xsd:documentation>Schema definition for CustomerServiceUsage version 1.1</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="CustomerServiceUsageVBOType">
        <xsd:annotation>
            <xsd:documentation>
				The Customer Service Usage service is an "Entity" service that provides capabilities to view the record of a Service Usage for a Party, Product or Service. This is usually in the context of the Customer Account and their subscriptions to Vodafone services.
			</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:ExtendedBaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Details" type="tns:CustomerServiceUsageDetailsType" minOccurs="0"/>
                    <xsd:element name="RelatedCustomerServiceUsages" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="CustomerServiceUsage" type="tns:RelatedCustomerServiceUsageType" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Roles" type="tns:CustomerServiceUsageRolesType" minOccurs="1"/>
                    <xsd:element name="Parts" type="tns:CustomerServiceUsagePartsType" minOccurs="1"/>
                    <xsd:element name="Extension" type="extvbo:ExtendedCustomerServiceUsageVBOType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerServiceUsageDetailsType">
        <xsd:annotation>
            <xsd:documentation> A type definition for CustomerServiceUsage Details</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Extension" type="extvbo:ExtendedCustomerServiceUsageDetailsType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RelatedCustomerServiceUsageType">
        <xsd:annotation>
            <xsd:documentation>A type definition for Related CustomerServiceUsage Type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedRelatedCustomerServiceUsageType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerServiceUsagePartsType">
        <xsd:sequence>
            <xsd:element name="CustomerAccount" type="tns:CustomerAccountType" minOccurs="1"/>
            <xsd:element name="Subscription" type="tns:SubscriptionType" minOccurs="1"/>
            <xsd:element name="Service" type="tns:ServiceType" minOccurs="0"/>
            <xsd:element name="Resource" type="tns:ResourceType" minOccurs="0"/>
            <xsd:element name="UsageSpecification" type="tns:UsageSpecificationType" minOccurs="0"/>
            <xsd:element name="UsageItems" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Usage" type="tns:UsageType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Extension" type="extvbo:ExtendedCustomerServiceUsagePartsType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomerServiceUsageRolesType">
        <xsd:sequence>
            <xsd:element name="Customer" type="tns:CustomerType" minOccurs="1"/>
            <xsd:element name="Extension" type="extvbo:ExtendedCustomerServiceUsageRolesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomerType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedCustomerType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ServiceAccountType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedServiceAccountType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerAccountType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="BillingAccounts" minOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="CustomerBillingAccount" type="tns:CustomerBillingAccountType" minOccurs="1" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="ServiceAccounts" minOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ServiceAccount" type="tns:ServiceAccountType" minOccurs="1" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Extension" type="extvbo:ExtendedCustomerAccountType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CustomerBillingAccountType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedCustomerBillingAccountType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SubscriptionType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Msisdn" type="cct:TextType" minOccurs="0"/>
                    <xsd:element name="Extension" type="extvbo:ExtendedSubscriptionType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ServiceType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedServiceType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResourceType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedResourceType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="UsageSpecificationType">
        <xsd:complexContent>
            <xsd:extension base="tns:SpecificationType">
                <xsd:sequence>
                    <xsd:element name="Extension" type="extvbo:ExtendedUsageSpecification" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="UsageType">
        <xsd:sequence>
            <xsd:element name="Type" type="cct:CodeType" minOccurs="0"/>
            <xsd:element name="Categories" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Category" type="cct:CodeType" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
            <xsd:element name="Amount" type="cct:AmountType" minOccurs="0"/>
            <xsd:element name="Quantities" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Quantity" type="cct:QuantityType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="TimePeriod" type="cmn:TimePeriodType" minOccurs="0"/>
            <xsd:element name="Characteristics" type="tns:CharacteristicsListType" minOccurs="0"/>
            <xsd:element name="DialledNumber" type="cmn:TelephoneType" minOccurs="0"/>
            <xsd:element name="DiscountAmount" type="cct:AmountType" minOccurs="0"/>
            <xsd:element name="GrossAmount" type="cct:AmountType" minOccurs="0"/>
            <xsd:element name="DiscountGrossAmount" type="cct:AmountType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CharactersticsValueType">
        <xsd:annotation>
            <xsd:documentation>The set of characteristics for the specification.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cmn:CharactersticsValueType">
                <xsd:attribute name="characteristicName" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>The name of the characteristic</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="actionCode" type="cmn:ActionCodeType" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>The @actionCode attribute is used within a modification operation to indicate the action (add, update, delete) intended on a component.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CharacteristicsListType">
        <xsd:sequence>
            <xsd:element name="CharacteristicsValue" type="tns:CharactersticsValueType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpecificationType">
        <xsd:complexContent>
            <xsd:extension base="cmn:BaseComponentType">
                <xsd:sequence>
                    <xsd:element name="Characteristics" type="tns:CharacteristicsListType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>