VFQA_CSM_Common/WSDL/VBS/CheckSystemStatus/V1/CheckSystemStatusVBS.wsdl

<!--© Vodafone Group Services Limited. All rights reserved.This document 
	comprises proprietary and confidential information and copyright material 
	belonging to Vodafone Group Services Limited.Other than as permitted by law, 
	no part of this document may be reproduced, adapted, or distributed, in any 
	form or by any means, without the prior written consent of Vodafone Group 
	Services Limited.The information in this document is subject to change without 
	notice.All trademarks acknowledged. Vodafone Group Services Limited - Confidential--><wsdl:definitions name="CheckSystemStatus" targetNamespace="http://group.vodafone.com/contract/vbs/technical/check-system-status/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/technical/check-system-status/v1" xmlns:vbs="http://group.vodafone.com/contract/vbs/technical/check-system-status/v1" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1">
   <wsdl:documentation>A Task service that enables a consuming system to query the availability of a Vodafone System. Version V1.0</wsdl:documentation>
   <!--Show support for WS-Policy and the attachment of policy assertions-->
   <wsp:UsingPolicy wsdl:Required="true"/>
   <!--The categorisation of the service as defined by the service architecture-->
   <wssem:category name="TaskService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
   <wsdl:types>
      <xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/technical/check-system-status/v1" elementFormDefault="qualified">
         <xsd:import namespace="http://group.vodafone.com/schema/vbm/technical/check-system-status/v1" schemaLocation="../../../../Schema/VBO/CheckSystemStatus/V1/SystemStatusVBM.xsd"/>
         <xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../Schema/Fault.xsd"/>
         <xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../Schema/Header.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <!--Get Messages-->
   <wsdl:message name="CheckSystemStatusReqMessage">
      <wsdl:documentation>This message is used as the request payload to the CheckSystemStatus.</wsdl:documentation>
      <wsdl:part name="CheckSystemStatus" element="vbm:CheckSystemStatusVBMRequest"/>
   </wsdl:message>
   <wsdl:message name="CheckSystemStatusRespMessage">
      <wsdl:documentation>This message is used as the response payload to the CheckSystemStatus.</wsdl:documentation>
      <wsdl:part name="CheckSystemStatusResponse" element="vbm:CheckSystemStatusVBMResponse"/>
   </wsdl:message>
   <!--Supporting Messages-->
   <wsdl:message name="VodafoneFault">
      <wsdl:documentation>This message is used for propagating Error Context
			and Error Message</wsdl:documentation>
      <wsdl:part name="VodafoneFault" element="vfo:Fault"/>
   </wsdl:message>
   <wsdl:message name="MessageHeaders">
      <wsdl:documentation>This message is used as the header for SOAP
			request</wsdl:documentation>
      <wsdl:part name="Source" element="vho:Source"/>
      <wsdl:part name="Correlation" element="vho:Correlation"/>
      <wsdl:part name="Cache" element="vho:Cache"/>
      <wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
      <wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
      <wsdl:part name="Destination" element="vho:Destination"/>
      <wsdl:part name="RouteInfo" element="vho:RouteInfo"/>
	  <wsdl:part name="QueryResult" element="vho:QueryResult"/>
   </wsdl:message>
   <wsdl:portType name="CheckSystemStatusInterface">
      <wsdl:documentation>This interface contains operations for the CheckSystemStatus API</wsdl:documentation>
      <!--Get Operations-->
      <wsdl:operation name="CheckSystemStatus">
         <wsdl:documentation>This operation is used to Check System status</wsdl:documentation>
         <wsdl:input name="CheckSystemStatusRequest" message="vbs:CheckSystemStatusReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/technical/check-system-status/v1/check"/>
         <wsdl:output name="CheckSystemStatusResponse" message="vbs:CheckSystemStatusRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CheckSystemStatusInterface-SOAP11-HTTPBinding" type="vbs:CheckSystemStatusInterface">
      <wsdl:documentation>This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol</wsdl:documentation>
      <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <!--Use WS-Addressing v1.0-->
      <wsaw:UsingAddressing wsdl:required="true"/>
      <!--Get Binding-->
      <wsdl:operation name="CheckSystemStatus">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/technical/check-system-status/v1/check" style="document"/>
         <wsdl:input name="CheckSystemStatusRequest">
            <!--Require that messages contain some custom headers for tracking, 
					routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="CheckSystemStatusResponse">
            <!--Require that messages contain some custom headers for tracking, 
					routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>