VFQA_CSM_Common/WSDL/VBS/ChangeRequest/V2/ChangeRequestVBS.wsdl

<!--

(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential

--><wsdl:definitions name="ChangeRequest" targetNamespace="http://group.vodafone.com/contract/vbs/service/changerequest/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vbm="http://group.vodafone.com/schema/vbm/service/changerequest/v2" xmlns:vbs="http://group.vodafone.com/contract/vbs/service/changerequest/v2" xmlns:vfo="http://group.vodafone.com/contract/vfo/fault/v1" xmlns:vho="http://group.vodafone.com/contract/vho/header/v1" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssem="http://lsdis.cs.uga.edu/projects/meteor-s/wsdl-s/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <wsdl:documentation>version:2.0.0</wsdl:documentation>
   
   <!--Show support for WS-Policy and the attachment of policy assertions-->
   <wsp:UsingPolicy wsdl:Required="true"/>
   
   <!--The categorisation of the service as defined by the service architecture-->
   <wssem:category name="EntityService" taxonomyURI="http://group.vodafone.com/iCoE/Taxonomy.owl#"/>
   
   <wsdl:types>
      <xsd:schema targetNamespace="http://group.vodafone.com/contract/vbs/service/changerequest/v2" elementFormDefault="qualified">
         <xsd:import namespace="http://group.vodafone.com/schema/vbm/service/changerequest/v2" schemaLocation="../../../../Schema/VBO/ChangeRequest/V2/ChangeRequestVBM.xsd"/>
         <xsd:import namespace="http://group.vodafone.com/contract/vfo/fault/v1" schemaLocation="../../../../Schema/Fault.xsd"/>
         <xsd:import namespace="http://group.vodafone.com/contract/vho/header/v1" schemaLocation="../../../../Schema/Header.xsd"/>
      </xsd:schema>
   </wsdl:types>
   
   <!--Service Operations Message Structures-->
   <wsdl:message name="CreateChangeRequestReqMessage">
      <wsdl:documentation>This message is used as the request payload to the CreateChangeRequest operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestDetails" element="vbm:CreateChangeRequestVBMRequest"/>
   </wsdl:message>
   
   <wsdl:message name="CreateChangeRequestRespMessage">
      <wsdl:documentation>This message is used as the response payload to the CreateChangeRequest operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestDetails" element="vbm:CreateChangeRequestVBMResponse"/>
   </wsdl:message>
   
   <wsdl:message name="UpdateChangeRequestReqMessage">
      <wsdl:documentation>This message is used as the request payload to the UpdateChangeRequest operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestDetails" element="vbm:UpdateChangeRequestVBMRequest"/>
   </wsdl:message>
   
   <wsdl:message name="UpdateChangeRequestRespMessage">
      <wsdl:documentation>This message is used as the response payload to the UpdateChangeRequest operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestDetails" element="vbm:UpdateChangeRequestVBMResponse"/>
   </wsdl:message>
   
   <wsdl:message name="GetChangeRequestListReqMessage">
      <wsdl:documentation>This message is used as the request payload to the GetChangeRequestList operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestCriteria" element="vbm:GetChangeRequestListVBMRequest"/>
   </wsdl:message>
   
   <wsdl:message name="GetChangeRequestListRespMessage">
      <wsdl:documentation>This message is used as the response payload to the GetChangeRequestList operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestList" element="vbm:GetChangeRequestListVBMResponse"/>
   </wsdl:message>
   
   <wsdl:message name="SyncChangeRequestReqMessage">
      <wsdl:documentation>This message is used as the request payload to the SyncChangeRequest operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestDetails" element="vbm:SyncChangeRequestVBMRequest"/>
   </wsdl:message>
   
   <wsdl:message name="SyncChangeRequestRespMessage">
      <wsdl:documentation>This message is used as the response payload to the SyncChangeRequest operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestDetails" element="vbm:SyncChangeRequestVBMResponse"/>
   </wsdl:message>
   
   <wsdl:message name="GetChangeRequestReportReqMessage">
      <wsdl:documentation>This message is used as the request payload to the GetChangeRequestReport operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestReportCriteria" element="vbm:GetChangeRequestReportVBMRequest"/>
   </wsdl:message>
   
   <wsdl:message name="GetChangeRequestReportRespMessage">
      <wsdl:documentation>This message is used as the response payload to the GetChangeRequestReport operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestReportResult" element="vbm:GetChangeRequestReportVBMResponse"/>
   </wsdl:message>
   
   <wsdl:message name="NotifyChangeRequestReqMessage">
      <wsdl:documentation>This message is used as the request payload to the NotifyChangeRequest operation</wsdl:documentation>
      <wsdl:part name="ChangeRequestCriteria" element="vbm:NotifyChangeRequestVBMRequest"/>
   </wsdl:message>
   
   <!--Supporting Messages-->
   <wsdl:message name="VodafoneFault">
      <wsdl:documentation>This message is used for propagating Error Context and Error Message</wsdl:documentation>
      <wsdl:part name="VodafoneFault" element="vfo:Fault"/>
   </wsdl:message>
   
   <wsdl:message name="MessageHeaders">
      <wsdl:documentation>This message is used as the header for SOAP request</wsdl:documentation>
      <wsdl:part name="Source" element="vho:Source"/>
      <wsdl:part name="Correlation" element="vho:Correlation"/>
      <wsdl:part name="Cache" element="vho:Cache"/>
      <wsdl:part name="ServiceDocumentation" element="vho:ServiceDocumentation"/>
      <wsdl:part name="ResultStatus" element="vho:ResultStatus"/>
      <wsdl:part name="Destination" element="vho:Destination"/>
      <wsdl:part name="RouteInfo" element="vho:RouteInfo"/>
      <wsdl:part name="QueryResult" element="vho:QueryResult"/>
   </wsdl:message>
   
   <wsdl:portType name="ChangeRequestInterface">
      <wsdl:documentation>This interface contains operations for the ChangeRequest API</wsdl:documentation>
      
      <wsdl:operation name="CreateChangeRequest">
         <wsdl:documentation>This operation is used to CreateChangeRequest</wsdl:documentation>
         <wsdl:input name="CreateChangeRequestRequest" message="vbs:CreateChangeRequestReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/service/changerequest/v2/create"/>
         <wsdl:output name="CreateChangeRequestResponse" message="vbs:CreateChangeRequestRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
      
      <wsdl:operation name="UpdateChangeRequest">
         <wsdl:documentation>This operation is used to UpdateChangeRequest</wsdl:documentation>
         <wsdl:input name="UpdateChangeRequestRequest" message="vbs:UpdateChangeRequestReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/service/changerequest/v2/update"/>
         <wsdl:output name="UpdateChangeRequestResponse" message="vbs:UpdateChangeRequestRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
      
      <wsdl:operation name="GetChangeRequestList">
         <wsdl:documentation>This operation is used to GetChangeRequestList</wsdl:documentation>
         <wsdl:input name="GetChangeRequestListRequest" message="vbs:GetChangeRequestListReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/service/changerequest/v2/get-list"/>
         <wsdl:output name="GetChangeRequestListResponse" message="vbs:GetChangeRequestListRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
      
      <wsdl:operation name="SyncChangeRequest">
         <wsdl:documentation>This operation is used to SyncChangeRequest</wsdl:documentation>
         <wsdl:input name="SyncChangeRequestRequest" message="vbs:SyncChangeRequestReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/service/changerequest/v2/sync"/>
         <wsdl:output name="SyncChangeRequestResponse" message="vbs:SyncChangeRequestRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
      
      <wsdl:operation name="GetChangeRequestReport">
         <wsdl:documentation>This operation is used to GetChangeRequestReport</wsdl:documentation>
         <wsdl:input name="GetChangeRequestReportRequest" message="vbs:GetChangeRequestReportReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/service/changerequest/v2/get-report"/>
         <wsdl:output name="GetChangeRequestReportResponse" message="vbs:GetChangeRequestReportRespMessage"/>
         <wsdl:fault name="VodafoneFault" message="vbs:VodafoneFault"/>
      </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:portType name="ChangeRequestEventInterface">
      <wsdl:documentation>This interface contains operations for the ChangeRequest Event API</wsdl:documentation>
      
      <wsdl:operation name="NotifyChangeRequest">
         <wsdl:documentation>This operation is used to NotifyChangeRequest</wsdl:documentation>
         <wsdl:input name="NotifyChangeRequestRequest" message="vbs:NotifyChangeRequestReqMessage" wsaw:Action="http://group.vodafone.com/contract/vbs/service/changerequest/v2/notify"/>
      </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="ChangeRequestInterface-SOAP11-HTTPBinding" type="vbs:ChangeRequestInterface">
      <wsdl:documentation>This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol</wsdl:documentation>
      <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      
      <!--Use WS-Addressing v2.0-->
      <wsaw:UsingAddressing wsdl:required="true"/>
      
      <wsdl:operation name="CreateChangeRequest">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/changerequest/v2/create" style="document"/>
         <wsdl:input name="CreateChangeRequestRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="CreateChangeRequestResponse">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="UpdateChangeRequest">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/changerequest/v2/update" style="document"/>
         <wsdl:input name="UpdateChangeRequestRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="UpdateChangeRequestResponse">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="GetChangeRequestList">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/changerequest/v2/get-list" style="document"/>
         <wsdl:input name="GetChangeRequestListRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetChangeRequestListResponse">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="QueryResult" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="SyncChangeRequest">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/changerequest/v2/sync" style="document"/>
         <wsdl:input name="SyncChangeRequestRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="SyncChangeRequestResponse">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="GetChangeRequestReport">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/changerequest/v2/get-report" style="document"/>
         <wsdl:input name="GetChangeRequestReportRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetChangeRequestReportResponse">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ServiceDocumentation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="ResultStatus" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="VodafoneFault">
            <soap11:fault name="VodafoneFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:binding name="ChangeRequestEventInterface-SOAP11-HTTPBinding" type="vbs:ChangeRequestEventInterface">
      <wsdl:documentation>This binding supports a SOAP 1.1 message over an HTTP/1.1 protocol</wsdl:documentation>
      <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      
      <!--Use WS-Addressing v2.0-->
      <wsaw:UsingAddressing wsdl:required="true"/>
      
      <wsdl:operation name="NotifyChangeRequest">
         <soap11:operation soapAction="http://group.vodafone.com/contract/vbs/service/changerequest/v2/notify" style="document"/>
         <wsdl:input name="NotifyChangeRequestRequest">
            <!--Require that messages contain some custom headers for tracking, routing, auditing.-->
            <soap11:header message="vbs:MessageHeaders" part="Source" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Correlation" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Cache" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="Destination" use="literal"/>
            <soap11:header message="vbs:MessageHeaders" part="RouteInfo" use="literal"/>
            <soap11:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>