VFQA_CSM_Common/Schema/VBO/Payment/Payment/V1/PaymentVBO.xsd

<!--(c) Vodafone Group Services Limited. All rights reserved.
This document comprises proprietary and confidential information and copyright material belonging to Vodafone Group Services Limited.
Other than as permitted by law, no part of this document may be reproduced, adapted, or distributed, in any form or by any means, without
the prior written consent of Vodafone Group Services Limited.
The information in this document is subject to change without notice.
All trademarks acknowledged.
Vodafone Group Services Limited - Confidential--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://group.vodafone.com/schema/vbo/payment/payment/v1" version="1.0" xmlns:cmn="http://group.vodafone.com/schema/common/v1" xmlns:cct="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2" xmlns:tns="http://group.vodafone.com/schema/vbo/payment/payment/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:extvbo="http://group.vodafone.com/schema/extension/vbo/payment/payment/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import schemaLocation="../../../../CommonComponents.xsd" namespace="http://group.vodafone.com/schema/common/v1"/>
   <xsd:import schemaLocation="Extension/ExtendedPaymentVBO.xsd" namespace="http://group.vodafone.com/schema/extension/vbo/payment/payment/v1"/>
   <xsd:import schemaLocation="../../../../CoreComponentType_2p0.xsd" namespace="urn:un:unece:uncefact:documentation:standard:CoreComponentType:2"/>
   <xsd:import schemaLocation="../../../../Meta.xsd" namespace="http://group.vodafone.com/schema/common/v1"/>
   <xsd:annotation>
      <xsd:documentation>Schema definition for Process Payment.</xsd:documentation>
   </xsd:annotation>
   <xsd:complexType name="PaymentVBOType">
      <xsd:annotation>
         <xsd:documentation>The Card Payment service is an "Entity" service that provides capabilities to handle a range of card payment types for Vodafone Customers. As an "Entity" service it provides operations to authorise, settle, refund, reserve and accept  payments made with a set of different card types.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="cmn:ExtendedBaseComponentType">
            <xsd:sequence>
               <xsd:element name="Details" type="tns:PaymentDetailsType" minOccurs="0"/>
               <xsd:element name="RelatedPayments" minOccurs="0">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="RelatedPayment" type="tns:RelatedPaymentType" maxOccurs="unbounded"/>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="RelatedParties" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The set of involvement roles associated with the Payment</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="RelatedParty" type="cmn:RelatedPartyType" maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>The involvement role associated with the Payment.</xsd:documentation>
                           </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Extension" type="extvbo:ExtendedRelatedPartyType" minOccurs="0"/>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="Parts" type="tns:PaymentPartsType" minOccurs="0"/>
               <xsd:element name="Extension" type="extvbo:ExtendedPaymentVBOType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentDetailsType">
      <xsd:annotation>
         <xsd:documentation>A type definition for Payment Details</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Amount" type="cct:AmountType" minOccurs="0"/>
         <xsd:element name="SaveIndicator" type="cct:IndicatorType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">The card save indicator to highlight if the customer wanted to save the card details</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DeclarationIndicator" type="cct:IndicatorType" minOccurs="0"/>
         <xsd:element name="ExclusiveIndicator" type="cct:IndicatorType" minOccurs="0"/>
         <xsd:element name="RequestDateTime" type="cct:DateTimeType" minOccurs="0"/>
         <xsd:element name="ProcessingDateTime" type="cct:DateTimeType" minOccurs="0"/>
         <xsd:element name="ConfirmationNumber" type="cct:IDType" minOccurs="0"/>
         <xsd:element name="TraceNumber" type="cct:IDType" minOccurs="0"/>
         <xsd:element name="DueDateTime" type="cct:DateTimeType" minOccurs="0"/>
         <xsd:element name="RedirectionURL" type="cct:URIType" minOccurs="0"/>
         <xsd:element name="Token" type="cct:TextType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">Security token generated by a Payment Gateway</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TokenType" type="cct:CodeType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">The type of the security token generated by the Payment Gateway (e.g. Permanent/Temporary)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Extension" type="extvbo:ExtendedPaymentDetailsType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RelatedPaymentType">
      <xsd:annotation>
         <xsd:documentation>A type definition for Related Payment Type</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Extension" type="extvbo:ExtendedRelatedPaymentType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentPartsType">
      <xsd:sequence>
         <xsd:element name="Channel" type="tns:ChannelType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">The details regarding the channel from where the Payment is taking place.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PaymentMethod" type="tns:PaymentMethodType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">The method by which party provides payment, for example cash, credit, transfer etc.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Authorisation" type="tns:AuthorisationType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">A component gathering together attributes of the model that specifies the details of the payment authorisation. This includes the authorised amount and time.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Charge" type="tns:ChargeType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">An amount, usually of money, that is asked for when a Product Offering is bought,money, which is asked for when a Product Offering is bought, rented, or leased.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LineItems" type="tns:LineItemsType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">The confirmed product offering which has been selected and added into the cart. This item represents the customer’s request to order.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Notes" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Note" type="tns:NotesType" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Extension" type="extvbo:ExtendedPaymentPartsType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LineItemsType">
      <xsd:sequence>
         <xsd:element name="LineItem" type="tns:LineItemType" maxOccurs="unbounded"/>
         <xsd:element name="Extension" type="extvbo:ExtendedLineItemsType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LineItemType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Quantity" type="cct:QuantityType" minOccurs="0"/>
               <xsd:element name="Amount" type="cct:AmountType" minOccurs="0"/>
               <xsd:element name="Extension" type="extvbo:ExtendedLineItemType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ChannelType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Extension" type="extvbo:ExtendedChannelType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentMethodType">
      <xsd:complexContent>
         <xsd:extension base="cmn:SpecificationType">
            <xsd:sequence>
               <xsd:element name="BankPayments" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Defines the set of bank details for the Payment.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="BankPayment" type="tns:BankPaymentType" maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>Details of how the customer wishes to make Bank Payments</xsd:documentation>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="CardPayments" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Defines the set of card details  for the Payment.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="CardPayment" type="tns:CardPaymentType" maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>Details of how the customer wishes to make Card Paymentss</xsd:documentation>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="ChequePayments" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Defines the set of checque payment details.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="ChequePayment" type="tns:ChequePaymentType" maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>Details of how the customer wishes to make Cheque Payments</xsd:documentation>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="ThirdPartyPayments" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Defines the set of third party payment details.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="ThirdPartyPayment" type="tns:ThirdPartyPaymentType" maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>Details of how the customer wishes to make Third Party Payments</xsd:documentation>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="DigitalWalletPayments" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Defines the set of digital wallet payment details.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="DigitalWalletPayment" type="tns:DigitalWalletPaymentType" maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>Details of how the customer wishes to make Digital Wallet Payments</xsd:documentation>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="OtherPayments" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Defines the set of other payment details.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="OtherPayment" type="tns:OtherPaymentType" maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation>Details of how the customer wishes to make Digital Wallet Payments</xsd:documentation>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="Extension" type="extvbo:ExtendedPaymentMethodType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="AuthorisationType">
      <xsd:sequence>
         <xsd:element name="Amount" type="cct:AmountType" minOccurs="0"/>
         <xsd:element name="DateTime" type="cct:DateTimeType" minOccurs="0"/>
         <xsd:element name="VoiceIndicator" type="cct:IndicatorType" minOccurs="0"/>
         <xsd:element name="RecurringIndicator" type="cct:IndicatorType" minOccurs="0"/>
         <xsd:element name="Extension" type="extvbo:ExtendedAuthorisationType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ChargeType">
      <xsd:sequence>
         <xsd:element name="Amount" type="cct:AmountType" minOccurs="0"/>
         <xsd:element name="DateTime" type="cct:DateTimeType" minOccurs="0"/>
         <xsd:element name="Extension" type="extvbo:ExtendedChargeType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BankPaymentType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Requestor" type="tns:RequestorType" maxOccurs="1" minOccurs="0"/>
               <xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The period through which the bank account payment is valid.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AccountNumber" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The bank account number</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="SortCode" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The bank account sort code</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DirectDebitVerified" type="cct:IndicatorType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Indicates whether the Direct Debit mandate was already verified</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="IBAN" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The bank account IBAN</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BIC" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The bank account BIC code (SWIFT code)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BankName" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="EN">The name of the organisation/bank where the account is registered.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Extension" type="extvbo:ExtendedBankPaymentType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CardPaymentType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Requestor" type="tns:RequestorType" maxOccurs="1" minOccurs="0"/>
               <xsd:element name="CardNumber" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The number on the face of the card.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="HolderName" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The name of the individual or organisation on the card.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CardType" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The type of card, e.g. credit, debit, etc.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ExpiryMonth" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The month in which the card expires.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ExpiryYear" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The year in which the card expires.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CVV2" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The CVV2 number of the card.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The period through which the card payment is valid.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Brand" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The brand of the card, e.g. Visa, Mastercard, etc.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Secure3DVerified" type="cct:IndicatorType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Whether the 3D Secure verification was done for this card</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Token" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="EN">Security token generated by a Payment Gateway</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Extension" type="extvbo:ExtendedCardPaymentType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ChequePaymentType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Requestor" type="tns:RequestorType" maxOccurs="1" minOccurs="0"/>
               <xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The period through which the cheque payment method is valid.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="OwnerName" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The name of the individual or organisation responsible for the cheque payment.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Number" type="cct:NumericType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The number of the cheque.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BankName" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="EN">The name of the organisation/bank where the account is registered.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Extension" type="extvbo:ExtendedChequePaymentType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="ThirdPartyPaymentType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Requestor" type="tns:RequestorType" maxOccurs="1" minOccurs="0"/>
               <xsd:element name="PartyType" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="EN">A classification of the third party which collects the money for service provider, such as bank transfer, payment tool.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AccountName" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The account, which is used in the third party, used to pay. If bank transfer is used here, paymentAccountinThirdParty is BankAccount. If paymet tool (such as PayPal) is used here, paymentAccountInThirdPart is the payment tool (such as PayPal) account.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The valid period for the PaymentMethod.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Extension" type="extvbo:ExtendedThirdPartyPaymentType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="DigitalWalletPaymentType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Requestor" type="tns:RequestorType" maxOccurs="1" minOccurs="0"/>
               <xsd:element name="PartyType" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="EN">A classification of the third party which collects the money for service provider, such as bank transfer, payment tool.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AccountName" type="cct:TextType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The account, which is used in the third party, used to pay. If bank transfer is used here, paymentAccountinThirdParty is BankAccount. If paymet tool (such as PayPal) is used here, paymentAccountInThirdPart is the payment tool (such as PayPal) account.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ValidityPeriod" type="cmn:ValidityPeriodType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The valid period for the PaymentMethod.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Extension" type="extvbo:ExtendedDigitalWalletPaymentType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="OtherPaymentType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseComponentType">
            <xsd:sequence>
               <xsd:element name="Requestor" type="tns:RequestorType" maxOccurs="1" minOccurs="0"/>
               <xsd:element name="Specification" type="tns:PaymentSpecificationType" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="en">A Specification for a Payment</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Extension" type="extvbo:ExtendedOtherPaymentType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentSpecificationType">
      <xsd:complexContent>
         <xsd:extension base="cmn:SpecificationType">
            <xsd:sequence>
               <xsd:element name="Extension" type="extvbo:ExtendedPaymentSpecificationType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="RequestorType">
      <xsd:sequence>
         <xsd:element name="FirstName" type="cct:TextType" minOccurs="0"/>
         <xsd:element name="MiddleName" type="cct:TextType" minOccurs="0"/>
         <xsd:element name="LastName" type="cct:TextType" minOccurs="0"/>
         <xsd:element name="Extension" type="extvbo:ExtendedRequestorType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NotesType">
      <xsd:complexContent>
         <xsd:extension base="cmn:NoteType">
            <xsd:annotation>
               <xsd:documentation>A component that allows comments, free text to be associated with the Payment.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="Extension" type="extvbo:ExtendedNoteType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>